*{
  color: black;
  font-family: sans-serif;
  border: 0;
  
}

h1{
  width: 290px;
  background-color: #D9D9D9;
  background-size: 100%;
  background-position: 35%;
}

body{
  font-size: large;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(41, 42, 43);
  background-image:url(img/fusca.jpeg);
  background-repeat: no-repeat;
  background-size: 22%;
  background-position: 26%;
  width: 98%;
  align-items: center;
  justify-content: center;
  display: flex;
}

fieldset{
      width: 500px;
      background-color: #D9D9D9;
      backface-visibility: 30%;
      align-items: center;
}

button{
  color: white;
  text-align: center;
  background-color:#3F0B54 ;
  border: #1d0129;
  border-style:groove;
  padding:  9px 7px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 8px;
  transition: background 2s;
}

button:hover{
  background: #3b124b;

}
button:active{
  color: #CDD3CF;
  background-color: #280835;
}